*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    background: #353b48;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container p{
    font-size: 32px;
    letter-spacing: 4px;
    color: #777;
    margin: -250px 0 100px;
}
.container input{
    height: 0;
    width: 0;
}
.container input::before{
    content: '\f011';
    font-family: 'FontAwesome';
    height: 160px;
    width: 160px;
    background: #353b48;
    font-size: 52px;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-240px);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,.2),
                inset -4px -4px 6px -1px rgba(255,255,255,.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                .5px .5px 0px rgba(0,0,0,.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
.container input:checked::before{
    color: white;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.3),
                -6px -6px 10px -1px rgba(255,255,255,.7);
}


